@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    border-bottom: 0.1px solid #ccc;
}

header ul li {
    display: inline;
    margin-left: 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1em;
}

header ul li a:hover {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgb(56, 56, 56);
    border-bottom: 1px solid rgba(199, 199, 199, 0.637);
}

h1 {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h2 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
}

h3 {
    font-family: Inter, sans-serif;
    font-style: italic;
    margin-top: 5px;
}

p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.conteudo {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


#sobre article {
    margin: 50px 80px 50px 80px;
    display: flex;
}

#sobre article hr {
    border: 0.80 solid black;
    margin: 20px 0;
}

.container-text-about {
    width: 900px;
    margin-left: 50px;
}

.produtos-list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 15px;
}

.produtos-list article p {
    font-size: 14px;
    margin: 10px;
}

.produtos-list article button {
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #676767;
    border-radius: 9px;
    width: 218px;
    height: 30px;
    border: none;
}

.produtos-list article button:hover {
    cursor: pointer;
    background-color: #676767dc;
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
    .container, .conteudo {
        max-width: 80%;
    }

    #sobre article {
        margin: 50px 0 50px 0;
        display: flex;
    }

    .produtos-list {
        display: grid;
        grid-template-columns: repeat(3, 35.5%);
        margin: 15px 0;
    }

    .produtos-list p {
        width: 250px;
    }
    
    .produtos-list article {
        width: 240px;
    }

    .produtos-list article button {
        font-family: Inter, sans-serif;
        font-weight: 600;
        color: #fff;
        background-color: #676767;
        border-radius: 9px;
        width: 218px;
        height: 30px;
        border: none;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 700px) {
    .container, .conteudo {
        width: 65%;
    }

    h1 {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
    }

    h2 {
        margin-top: 20px;
    }

    header ul li a {
        text-decoration: none;
        font-family: Inter, sans-serif;
        font-weight: 400;
        color: black;
        font-size: 0.8em;
    }
    
    header ul li a:hover {
        text-decoration: none;
        font-family: Inter, sans-serif;
        font-weight: 400;
        color: rgb(56, 56, 56);
        border-bottom: 1px solid rgba(199, 199, 199, 0.637);
    }

    #sobre {
        width: 321px;
    }

    #sobre article {
        display: block;
        margin: 50px 0 50px 0;
        width: 321px;
    } 
    
    .container-text-about {
        width: 320px;
        margin-left: 0;
    }

    #produtos {
        width: 321px;
    }

    #produtos hr {
        width: 318px;
    }

    .produtos-list {
        display: block;
        margin: 15px 15%;
        width: 250px;
    }

    .produtos-list article button {
        font-family: Inter, sans-serif;
        font-weight: 600;
        color: #fff;
        background-color: #676767;
        border-radius: 9px;
        width: 220px;
        height: 30px;
        border: none;
        margin-bottom: 40px;
    }
}